<div id="errorLogin" class="glyphicon glyphicon-remove-sign" style="display: none"></div>
<div id="loginForm">
    <img id="loginLogo" src="./imgs/Logo.png"/>

    <form id="loginFormInput">
        <div class="input-group">
            <input type="text" id="emailInput" class="form-control shadowPurple" placeholder="Email"/>
        </div>
        <div class="input-group">
            <input type="password" id="passwordInput" class="form-control shadowPurple" placeholder="Password"/>
        </div>
        <div class="input-group">
            <input type="checkbox" id="rememberMeCheckbox" checked> Remember me
        </div>
        <div class="input-group loginButtonDiv">
            <input type="button" id="loginButton" class="btn btn-primary btn-lg gradient" value="Connect"/>
        </div>
        <div id="joinUs">
            <i>No account ?</i> <a class="linkColor" id="signUp">Sign up !</a>
        </div>
    </form>
</div>