<div id="carousel-1" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
        <li data-target="#carousel-1" data-slide-to="3"></li>
        <li data-target="#carousel-1" data-slide-to="4"></li>
        <li data-target="#carousel-1" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner" id="carouselAllTop">
        <div class="item active">
            <img src="./imgs/Movies/Jurassic-World.jpg" alt="Four Slide">
        </div>
        <div class="item">
            <img src="./imgs/Movies/Avatar2.jpg" alt="First Slide">
        </div>
        <div class="item">
            <img src="./imgs/Movies/Cinderella.jpg" alt="Third Slide">
        </div>
        <div class="item">
            <img src="./imgs/Movies/Ted.jpg" alt="Seven Slide">
        </div>
        <div class="item">
            <img src="./imgs/Tv%20Shows/Game%20of%20throne.jpg" alt="Nine Slide">
        </div>
        <div class="item">
            <img src="./imgs/Tv%20Shows/Daredevil2.jpg" alt="Eleven Slide">
        </div>

    </div>
    <a class="carousel-control left" href="#carousel-1" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#carousel-1" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div id="carouselAll">
    <div>
        <h3 class="titleListMovieEpisode"> Popular Movies</h3>
    </div>
    <div class="carouselMultiple">
        <div><a href="#/movies/741238771"><img src='./imgs/Movies/Frozen.jpg'/></a></div>
        <div><a href="#/movies/452283395"><img src='./imgs/Movies/Jurassic.jpg'/></a></div>
        <div><a href="#/movies/400763833"><img src='./imgs/Movies/Inception.jpg'/></a></div>
        <div><a href="#/movies/513208819"><img src='./imgs/Lorax.jpg'/></a></div>
        <div><a href="#/movies/317909453"><img src='./imgs/Movies/Startrek.jpg'/></a></div>
        <div><a href="#/movies/390382051"><img src='./imgs/Movies/Wintersbone.jpg'/></a></div>
        <div><a href="#/movies/359352694"><img src='./imgs/Movies/Alice.jpg'/></a></div>
        <div><a href="#/movies/922628991"><img src='./imgs/Movies/Fury.jpg'/></a></div>
        <div><a href="#/movies/255295077"><img src='./imgs/Movies/FindingNemo.jpg'/></a></div>
        <div><a href="#/movies/304682385"><img src='./imgs/Movies/Perfume.jpg'/></a></div>
        <div><a href="#/movies/405141064"><img src='./imgs/Movies/127.jpg'/></a></div>
        <div><a href="#/movies/407742758"><img src='./imgs/Movies/BlackSwan.jpg'/></a></div>
        <div><a href="#/movies/677107005"><img src='./imgs/Movies/WorldWarZ.jpg'/></a></div>
    </div>

    <div>
        <h3 class="titleListMovieEpisode"> Popular Tv Shows</h3>
    </div>

    <div class="carouselMultiple">
        <div><a href="#/tvshow/271383858"><img src='./imgs/Tv%20Shows/BreakingBadPoster.png'/></a></div>
        <div><a href="#/tvshow/257581781"><img src='./imgs/Tv%20Shows/Dexter.jpg'/></a></div>
        <div><a href="#/tvshow/284192420"><img src='./imgs/Tv%20Shows/DoctorWho.jpg'/></a></div>
        <div><a href="#/tvshow/168262075"><img src='./imgs/Tv%20Shows/Friends.jpg'/></a></div>
        <div><a href="#/tvshow/482730236"><img src='./imgs/Tv%20Shows/GameOfTrone.jpg'/></a></div>
        <div><a href="#/tvshow/314493878"><img src='./imgs/Tv%20Shows/Glee.jpg'/></a></div>
        <div><a href="#/tvshow/196139170"><img src='./imgs/Tv%20Shows/Heroes.jpg'/></a></div>
        <div><a href="#/tvshow/329071443"><img src='./imgs/Tv%20Shows/VampireDairy.jpg'/></a></div>
        <div><a href="#/tvshow/300289860"><img src='./imgs/Tv%20Shows/Smallville.jpg'/></a></div>
        <div><a href="#/tvshow/395373961"><img src='./imgs/Tv%20Shows/WalkingDead.jpg'/></a></div>
    </div>

    <div>
        <h3 class="titleListMovieEpisode"> Popular Actors</h3>
    </div>

    <div class="carouselMultiple">
        <div><a href="#/actor/608018"><img src='./imgs/Actors/Adam.jpg'/></a></div>
        <div><a href="#/actor/189026342"><img src='./imgs/Actors/Kristen.jpg'/></a></div>
        <div><a href="#/actor/272994458"><img src='./imgs/Actors/Brad.jpg'></a></div>
        <div><a href="#/actor/300300595"><img src='./imgs/Actors/Bradley.jpg'/></a></div>
        <div><a href="#/actor/205077974"><img src='./imgs/Actors/Channing.jpg'/></a></div>
        <div><a href="#/actor/345789005"><img src='./imgs/Actors/JenniferL.jpg'/></a></div>
        <div><a href="#/actor/1166319"><img src='./imgs/Actors/Jack.jpg'/></a></div>
        <div><a href="#/actor/273369334"><img src='./imgs/Actors/JenniferA.jpg'/></a></div>
        <div><a href="#/actor/263060824"><img src='./imgs/Actors/Leonardo.jpg'/></a></div>
        <div><a href="#/actor/274982398"><img src='./imgs/Actors/Morgan.jpg'/></a></div>
        <div><a href="#/actor/295221786"><img src='./imgs/Actors/Taylor.jpg'/></a></div>
        <div><a href="#/actor/271500730"><img src='./imgs/Actors/Daniel.jpg'/></a></div>
        <div><a href="#/actor/3260249"><img src='./imgs/Actors/Anne.jpg'/></a></div>
    </div>
</div>
