<div id="errorSignUp" class="glyphicon glyphicon-remove-sign" style="display: none"></div>
<div id="loginForm">
    <img id="loginLogo" src="./imgs/Logo.png"/>

    <form class="loginFormInput">
        <div class="input-group">
            <input type="text" id="nameInput" class="form-control shadowPurple" placeholder="Name"/>
        </div>
        <div class="input-group">
            <input type="text" id="emailInput" class="form-control shadowPurple" placeholder="Email"/>
        </div>
        <div class="input-group">
            <input type="password" id="passwordInput" class="form-control shadowPurple" placeholder="Password"/>
        </div>
        <div id="autorisationCookies">
            <i>By clicking Sign Up, you agree to our terms and that you have read our data Policy, including our <a id="linkColorSignUp"
                    class="cookiesUse"
                    class="linkColor">Cookie Use</a>.</i>
        </div>
        <div class="input-group loginButtonDiv buttonInline">
            <input type="button" id="cancelButton" class="btn btn-primary btn-lg gradient" value="Cancel"/>
        </div>
        <div class="input-group loginButtonDiv buttonInline">
            <input type="button" id="signUpButton" class="btn btn-primary btn-lg gradient signUp" value="Sign up"/>
        </div>
    </form>
</div>