<div id="otherUser">
    <div id="errorDivEmptyWatchlist" class="glyphicon glyphicon-remove-sign"></div>
    <h1 id="watchlistTitle"><%= Watchlist.name%>"</h1>
    <div id="moviesContainerWatchlist">
        <%if(Movies !== null){%>
        <% _.each(Movies, function(movie) {%>

        <div class="containerMovieDeleteButton">
                <a href="#/movies/<%=movie.trackId%>">
                    <img  class="imgMovieWatchlist"  src="<%= movie.artworkUrl100 %>"/>
                </a>
        </div>
        <% }); %>
        <input id="watchlistId" type="hidden" name="id" value="<%= Watchlist.id %>"/>
        <%}%>
    </div>

    <a id="buttonBackHome" class="btn btn-default pull-right buttonMarginTop"> Back home</a>
</div>
